h1 {
  font-size: 3.8vw;
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: verdana;
}

ul, ul > li {
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
}

.headerimg a {
  color: white;
}

p {
  margin: 0;
}

.headerimg {
  background-image: url("../images/rockets.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: visible;

}

.usimg {
  background-image: url("../images/us.jpg");
}



a:hover, a:link, a:visited, a:active {
  text-decoration:none;
  color: black;
}

button {
    color: black;
    background: rgba(153,204,255, .9);
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  {
    .aboutusimg {
      background-size: 100%;
    }
}
