h1 {
  font-size: 3.8vw;
  margin: auto;
  justify-content: center;
}

img {
  position: relative;
}

.container-fluid {
  font-size: 1.6vw;
  font-weight: bolder;
  position:absolute;
  text-align: center;
  display:block;
  margin: 23% 3% 3% 3%;
  /*width: 65%;*/
  z-index: 1;
  border-radius: 25px;
  background-color: #D5D8DC;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.container-fluid p {
  color: #000000;
}

a {
  text-decoration-style: wavy;
  text-decoration-color:black;
}
