h1 {
  font-size: 3.8vw;
  text-align: center;
  color: white;
}

.headerimg {
  background-image: url("../images/rockets.jpg");
}

.aboutusimg {
  background-image: url("../images/surf.jpg");
}

.wedoimg {
  background-image: url("../images/motocross.jpg");
}

.careersimg {
  background-image: url("../images/dive.jpg");
}

.contactimg {
  background-image: url("../images/plane.jpg");
}

.textbox {
  margin-top: 5%;
  color: white;
}

.container-fluid {
  font-size: 1.6vw;
  font-weight: bolder;
  color: white;
  display:block;
  width: 65%;
  border-radius: 25px;
  background-color: #000;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier



/*.container-fluid p {
  color: white;
}*/

a:hover, a:link, a:visited, a:active {
  color: white;
  text-decoration:none;
}
